/* .ant-pro-basicLayout-content{
    margin: 10px;
} */
.antv-s2-wrapper .s2-header{
    margin-bottom: 0px !important;
    width: 100% !important;
}
.antv-s2-wrapper{
    background-color: white;
}
.antv-s2-container canvas{
    width: 100%;
}

.tableList-top-box {
    width: 100%;
    height: 100px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    padding: 16px 24px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.tableList-title {
    margin-right: 12px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableList-text {
    /* margin: 30px 0 12px 30px; */
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-left: 30px;
}

.tableList-date {
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    font-size: 14px;
    margin-top: 16px;
}

.tooltip-title {
    background: #f9f9f9;
    padding: 8px;
}

.tooltip-text {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.tooltip-operation {
    cursor: pointer;
    color: #1890ff;
}

.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover{
    background-color: #eee;
}
/* .ant-table-thead > tr > th{
    background-color: #eee;
    border-bottom:1px solid rgba(0,0,0,.06)
} */
